<!DOCTYPE html>
<html>
<head>
  <title>HowMany</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="app"></div>

  <div id="scripts">
    <%= javascript_include_tag 'application' %>
  </div>
</body>
</html>
